# Port number
PORT=3000

# App URL
APP_URL=http://localhost:3000

# Postgresql Prisma configuration options
DATABASE_URL=postgres://user:pass@127.0.0.1:5432/BoilerplateDB
# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# Mailgun configuration options for the email service
EMAIL_FROM=support@yourapp.com

MAILGUN_API_KEY=key-1234556789
MAILGUN_DOMAIN=mg.yourdomain.com
MAILGUN_HOST=https://api.eu.mailgun.net
